<div class="container">
  <br>
  <h1>Sign In</h1>

  <form action= <%= sessions_create_path %> >

      <label>Email</title>
      <div class="form-group">
        <input style="border-radius: 4px;" type="string" name="email">
      </div>

      <label>Password</label>
      <div class="form-group">
        <input style="border-radius: 4px;" type="string" name="password">
      </div>

      <div class="form-group">    
        <button class="btn btn-success", type="submit">Log IN</button>
      </div>
    </form>
  </div>
</div>