

<div class="container">
  <h1 style="margin:30px;">Staff <span class="badge badge-secondary"></span></h1>
  <p style="margin:30px;">This is a page about our team!</p>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/51277957?s=400&u=27f8f2b7085eae4f30a4fcc92205eb3f7efd1e7e&v=4" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tomaz Medrado</h5>
      <p class="card-text">Tomaz is a 21 years old Brazilian that has a dream to become a software engineer.</p>
      <a href="/user/2" class="btn btn-primary">Show more</a>
    </div>
  </div>
</div>