

<form action= <%= gossips_path %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
  <input type="string" name="gossip_title">
  <input type="content" name="gossip_content">
  <input type="submit" value="Valider">
</form>